AI_BASE_URL=https://opencode.ai/zen/go/v1
AI_MODEL=deepseek-v4-flash
AI_API_KEY=your-api-key

POSTGRES_HOST=localhost
POSTGRES_PORT=7432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi_project

VOYAGE_API_KEY=your-api-key
